fastapi>=0.110.3
uvicorn[standard]==0.29.0
pydantic>=1.10.13,<2.0.0
sqlalchemy==2.0.29
pandas==1.5.3
python-multipart==0.0.9
psycopg2-binary==2.9.9
python-dotenv==1.0.1
supabase==2.5.1
autots==0.6.15
cleanlab==2.6.3
pypots==0.7
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
email-validator==2.1.0.post1
argon2-cffi==23.1.0
huggingface_hub==0.22.2
gluonts==0.13.2
lightning>=2.2.0
pytorch-lightning==2.4.0
